.border-left-primary {
    border-left: 8px solid $color-primary;
}

.border-left-secondary {
    border-left: 8px solid $color-secondary;
}

.border-left-success{ 
    border-left: 8px solid $success;
}

.border-left-warning{ 
    border-left: 8px solid $yellow;
}