header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 0 20px;

  a:first-child {
    margin-right: 10px;
  }
}

.without-next-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .message {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;

    a {
      margin-top: 20px;
    }
  }
}

.next-team-container {
  width: 100%;
  overflow: hidden;

  @media (min-width: '830px'){
    min-height: calc(100vh - 122px);
  }

  .result-container {
    .players-chosen {
      margin: 0 40px;
    }

    .results {
      margin: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      background-color: #3a59b7;
      color: white;

      .team {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
  }
  }

  .title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 20px;

    @media (min-width: '375px'){
      padding: 0;
      margin-bottom: 60px;
      margin-top: 60px;
    }
  }

  .team-match-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (min-width: '830px'){
      flex-direction: row;
    }

    .set-win-form {
      padding: 20px;

      a {
        margin-top: 10px;
      }
    }
  }
}

.finish-team-form {
  padding: 20px;

  a {
    margin-top: 20px;

    &.cancel {
      margin-right: 10px;
    }
  }
}

.options-player-set {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  a{
    width: 45%;
  }
}

.all-players.single {
  min-height: auto;
}

.change-for-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-dialog {
  max-width: 98% !important;
  height: auto !important;
}

.modal-content.data-player-content {
  width: auto !important;
  min-width: 320px;
}

.player-card-container {
  min-width:  365px;
}

.players-compare-container{
  display: flex !important;
  flex-direction: column;

  @media (min-width: 800px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
}